.fancy-btn{
background-color: #1b9aaa; /* lime-400 */
color: #fff; 
font-size: 1rem; /* text-[1rem] */
padding:    0.5rem  1rem; /* pl-[1rem] */
border-radius:2rem; /* rounded-3xl */
border: none; /* border-none */
font-weight: 700; /* font-bold */
cursor: pointer;
box-shadow: 0 0 1rem #0000002a;
}

.fancy-btn-text-container{
    position: relative;
    display: flex;
    overflow: hidden;
}
.fancy-btn-char-container{
    position: relative;
}

.fancy-btn-char-container span{
    display: inline-block;
    white-space: pre;
    transition-property: transform;
    transition-duration: 0.5s;
}

.fancy-btn-char-container span:last-child{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
}